# Estudar a evolução dos tipos de canceres que mais mataram no MA no periodo de 2000 a 2019

#### Abrir os 20 arquivos e juntar em uma base unica.

In [11]:
import numpy as np
import pandas as pd

In [22]:
# Especificar o caminho do arquivo CSV
MG2000 = 'D:\Documentos Compartilhados\TCC_Tabelas _Códigos\Tabelas\Mortalidade_Geral_2000.csv'

# Importar a tabela
tabela = pd.read_csv(MG2000, sep=';')

C:\Users\Estudos\AppData\Local\Temp\ipykernel_16924\2914373846.py:5: DtypeWarning: Columns (4,9,15,20,23) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela = pd.read_csv(MG2000, sep=';')

In [23]:
# qtd de linhas e colunas
tabela.shape

(946686, 39)

In [24]:
#mostrando as primeiros 5 linhas e 5 ultimas
display(tabela)

,CONTADOR,TIPOBITO,DTOBITO,NATURAL,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,...,NECROPSIA,CAUSABAS,LINHAA,LINHAB,LINHAC,LINHAD,LINHAII,CIRCOBITO,ACIDTRAB,FONTE
0,1,2,23032000,812.0,11091976.0,423.0,2,1.0,1.0,3,...,NaN,V892,*T794,*T07X,*V892,NaN,NaN,1.0,2.0,1.0
1,2,2,25032000,812.0,14101999.0,305.0,2,NaN,1.0,1,...,NaN,R95,*R69X,NaN,NaN,NaN,*R69X,NaN,NaN,NaN
2,3,2,25022000,812.0,18022000.0,207.0,1,1.0,NaN,NaN,...,NaN,R98,*R98X,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2,27022000,812.0,9011909.0,491.0,1,1.0,1.0,2,...,NaN,R98,*R98X,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,27022000,812.0,17031904.0,495.0,2,1.0,1.0,1,...,NaN,R98,*R98X,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946681,4369,2,7012000,853.0,4061962.0,437.0,1,4.0,1.0,3.0,...,NaN,Y001,*S069,*Y001,NaN,NaN,NaN,3.0,2.0,1.0
946682,4370,2,19112000,852.0,14031940.0,460.0,2,4.0,1.0,NaN,...,2.0,N12,*R092,*A419,*N12X,NaN,NaN,NaN,NaN,NaN
946683,4371,2,23012000,852.0,30041963.0,436.0,1,2.0,2.0,2.0,...,2.0,C73,NaN,NaN,*C73X,NaN,*A162,NaN,NaN,NaN
946684,4372,2,16052000,817.0,13052000.0,203.0,1,1.0,NaN,NaN,...,NaN,P219,*P290,*P219,NaN,NaN,NaN,NaN,NaN,NaN
946685,4373,2,21092000,841.0,24051949.0,451.0,1,NaN,4.0,3.0,...,NaN,V872,*J960,*S280,*T07X,*V872,NaN,1.0,9.0,4.0